@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

/* Default styles */
h1 { @apply h1 }
h2 { @apply h2 }
h3 { @apply h3 }
h4 { @apply h4 }
h5 { @apply h5 }
label { @apply label }

button { @apply btn }

/* Skeleton specific styles */
.s-input-group { @apply input-group input-group-divider grid-cols-[auto_1fr_auto] }